body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #ff69b4;
    margin-bottom: 20px;
}

.flower-bouquet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.flower {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px;
}

.petal {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #fbff00;
    border-radius: 50% 50% 0 0;
    opacity: 0;
    transform: translateY(-200px);
    transform-origin: bottom center;
    animation: fall 1s forwards;
}

.palo{
    position: absolute;
    top: 150px;
    left: 5px;
    width: 40px;
    height: 150px;
    background-color: #277b08;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 1.5s;
}
.hoja{
    position: absolute;
    bottom: -140px;
    left: 10%;
    width: 20px;
    height: 40px;
    background-color: #277b08;
    border-radius: 50% 50% 0 0;
    transform: rotate(-45deg) translateX(-50%);
    transform-origin: bottom center;
    opacity: 0;
    animation: growHoja 1s forwards;
    animation-delay: 2.5s;
}
.hoja2{
    position: absolute;
    bottom: -140px;
    left: 25%;
    width: 20px;
    height: 40px;
    background-color: #277b08;
    border-radius: 50% 50% 0 0;
    transform: rotate(45deg) translateX(-10%);
    transform-origin: bottom center;
    opacity: 0;
    animation: growHoja 1s forwards;
    animation-delay: 2.5s;
}
.petal1 {
    transform: translateY(-200px) rotate(0deg);
    animation-delay: 0s;
}

.petal2 {
    transform: translateY(-200px) rotate(0deg);
    animation-delay: 0.5s;
}

.petal3 {
    transform: translateY(-200px) rotate(0deg);
    animation-delay: 1s;
}

.petal4 {
    transform: translateY(-200px) rotate(0deg);
    animation-delay: 1.5s;
}

.petal5 {
    transform: translateY(-200px) rotate(0deg);
    animation-delay: 2s;
}

.center {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 55px;
    height: 55px;
    background-color: #ff69b4;
    border-radius: 70%;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 2.5s;
}




@keyframes fall {
    to {
        opacity: 1;
        transform: translateY(0) rotate(var(--rotate));
    }
}

.petal1 {
    --rotate: 0deg;
}

.petal2 {
    --rotate: 40deg;
}

.petal3 {
    --rotate: 80deg;
}

.petal4 {
    --rotate: 120deg;
}

.petal5 {
    --rotate: 160deg;
}
.petal6 {
    --rotate: 200deg;
}
.petal7 {
    --rotate: 240deg;
}
.petal8 {
    --rotate: 280deg;
}
.petal9 {
    --rotate: 320deg;
}


@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes growHoja {
    to {
        opacity: 1;
    }
}